#map-container {
    flex-grow: 1;
    position: relative;
  }
  
/* #map {
  width: 100%;
  height: 100%;
} */

#map {
  position: relative;
  /* border: 1px solid black; */
  border-radius: 8px;
  height: 100%;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

#loading {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999999;
}

#loading > img {
  width: 2em;
  height: 2em;
}
  